@media screen and (min-width: 320px) {
  .container {
    background-color: rgba(65, 122, 65, 80%);
    width: 320px;
    padding: 15px 15px 15px 15px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 10px;
  }
  .itemForm {
    background-color: white;
    width: 290px;
    border-radius: 10px;
    text-align: start;
    padding: 0 15px 0 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .itemForm:not(:first-of-type) {
    margin-top: 15px;
  }
  .itemFormText {
    color: rgb(165, 152, 152);
    font-size: 12px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .container {
    text-align: start;
    background-color: rgba(119, 59, 10, 0.8);
    width: 768px;
    padding: 15px 30px 15px 30px;
  }
  .itemForm {
    width: 708px;
    padding: 0 30px 0 30px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    background-color: rgba(70, 70, 145, 80%);
    width: 1280px;
    padding: 15px 50px 15px 50px;
  }
  .itemForm {
    width: 1180px;
    padding: 0 50px 0 50px;
  }
}
